body {
    color:white;
}

h1, h2, h3 {
    color: #ffff00;
    text-align: center;
    text-transform: uppercase;
    
    border-radius:6px 6px 0px 0px;

margin: 0px 4px 0px 0px;
padding: 0px 4px 0px 4px;
}

p img {
    border-color:white;
    border-width:4px;
    border-style:solid;
}

ol, ul {
    background-color:lightblue;
    
    border-radius:6px 6px 0px 0px;

margin: 0px 4px 0px 0px;
padding: 0px 4px 0px 4px;
}

li {
    background-color:orange;
    
    border-radius:6px 6px 6px 6px;

margin: 0px 4px 0px 0px;
padding: 0px 4px 0px 4px;
}

p {
    background-color:white;
}
.about {
    background-color:blue;
    margin-left:120px;
    margin-top:20px;
    margin-bottom:20px;
    border:5px light blue;
    padding:15px;
    margin-right:120px;
}
.classname {
    background-color:teal;
}

* {
    font-family: 'Open Sans', sans-serif;
}
.navbar ul {
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
   
    
    background-color:#cc99ff;
    
    list-style-type:none;
}

.navbar li a {
    background-color:#9999ff;
    text-decoration:none;
    
    text-align:center;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    float:left;
    
    width:10%;
    
    margin-right:4px;
    
    padding-left:4px;
    padding-right:4px;
    
    border-radius:6px 6px 0px 0px;

    margin: 0px 4px 0px 0px;
    padding: 0px 4px 0px 4px;
}

.navbar li a:active {
    background:white;
}

.navbar li a:hover {
    padding-bottom:4px;
    margin-top:-4px;
}

.navbar li a.selected {
    background:gray;
}
